<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/#contact">contact page</a>.
  <p><%= link_to 'Home', root_path %></p>
  <%= link_to 'About', static_pages_about_path %>
  <p><%= link_to 'Help', static_pages_help_path %></p>
  </p>